<div class="table">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Employee ID</th>
                <th>Contact</th>
                <th>joining-year</th>
                <th>Gender</th>
                <th>State</th>
                <th>Profile-Image</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of allData">
                <td>
                    <ng-container *ngIf="!item.isEditing; else editField">
                        {{item.name}}
                    </ng-container>
                    <ng-template #editField>
                        <input type="text" [(ngModel)]="item.name" (blur)="editRow(item)">
                    </ng-template>
                </td>
                <td>{{item.empid}}</td>
                <td>{{item.contact}}</td>
                <td>{{item.joiningyear}}</td>
                <td>{{item.gender}}</td>
                <td>{{item.state}}</td>
                <td><img [src]="item.profileimg" alt="Profile Image" width="50" height="50"></td>
                <td>
                    <button class="edit" (click)="editRow(item)" *ngIf="!item.isEditing">
                        <i class="fas fa-edit"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-delete" (click)="deleteRow(item)">
                        <span class="fas fa-trash"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>