table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 9px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:hover {
    background-color: rgb(146, 136, 133);
}
.btn {
    background: none;
    border: #dddddd;
}

.btn-delete {
    font-size: 16px;
    color: red;
    cursor: pointer;
}

button:hover {
    background-color: lighten(rgb(189, 172, 172), 48%);
}

.edit{
    color: blue;
    cursor: pointer;
    background: none;
    font-size: 16px;
    border: #dddddd;
}


